---
layout: default
title: Home
---

<section id="about" class="section-about">
    {% include about.html %}
</section>

<section id="skills" class="section-skills">
    {% include skills.html %}
</section>

<section id="experience" class="section-experience">
    {% include experience.html %}
</section>

<section id="extracurricular" class="section-extracurricular">
    {% include extracurricular.html %}
</section>

<section id="projects" class="section-projects">
    {% include projects_grid.html %}
</section>

<section id="honors" class="section-honors">
    {% include honors.html %}
</section>

<section id="contact" class="section-contact">
    {% include contact.html %}
</section>