---
layout: default
title: Home
---

<section id="about" class="py-5">
    <div class="container">
        {% include about.html %}
    </div>
</section>

<section id="skills" class="py-5 bg-light">
    <div class="container">
        {% include skills.html %}
    </div>
</section>

<section id="experience" class="py-5">
    <div class="container">
        {% include experience.html %}
    </div>
</section>

<section id="projects" class="py-5">
    {% include projects_grid.html %}
</section>

<section id="honors" class="py-5 bg-light">
    <div class="container">
        {% include honors.html %}
    </div>
</section>

<section id="contact" class="py-5">
    <div class="container">
        {% include contact.html %}
    </div>
</section>